<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Notebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body style="background-color:aqua">
    {{if response.flash:}}
    <div style="padding:20px;background-color:blueviolet">{{=response.flash}}</div>
    {{pass}}
    <center>
        <form action="" enctype="multipart/form-data" method="post">
            <div>
                <label for="title">Title</label><br>
                <input type="text" name="title">
            </div>
            <input type="hidden" name="_formname" value="notebooks">
            <input type="hidden" name="user_id" value="{{auth.user.id}}">
            <div>
                <button type="submit"> Add Notebook</button>
            </div>
        </form>
        <br><br>
        <a href="{{=URL('showNotebooks')}}">See All Notebooks</a>
    </center>
</body>
</html>