<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Notebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body style="background-color:aqua">
    {{if response.flash:}}
    <div style="padding:20px;background-color:blueviolet">{{=response.flash}}</div>
    {{pass}}
    <center>
        <form action="" enctype="multipart/form-data" method="post">
            <div>
                <label for="title">Title</label><br>
                <input type="text" name="title">
            </div>

            <div>
                    <label for="body">Body</label><br>
                    <textarea type="text" name="body" cols="60" rows="20"></textarea>
                </div>

            <input type="hidden" name="_formname" value="note">
            <input type="hidden" name="notebook_id" value="{{=notebookId}}">
            <div>
                <button type="submit"> Add Note</button>
            </div>
        </form>
        <br><br>
    </center>
</body>
</html>